---
layout: default
title: Campaign
---

<div class="row">
  <div class="medium-9 medium-centered small-centered columns">
		{% include status.html %}

		{% include galleria.html %}
  </div>
</div>

<div class="row">
  <div class="medium-9 medium-centered small-centered columns">
		<div class="panel">
			<h5><a name="about-letters">About Bassel</a></h5>
		</div>
	</div>
</div>

<div class="row">
  <div class="medium-9 medium-centered small-centered columns">

		{% include introduction.html %}

	</div>

</div>
