<div class="alert-box alert">
  <div class="row">
  <div class="medium-6 small-12 columns">
  <div dir="rtl">
  <h5><span class="label alert">خبر عاجل</span> <small>{{ '2015-10-03' | date: "%m/%Y" }}</small></h5>
  <p>
الرجاء من وسائل الاعلام أخذ الخبر ونشره على السريع !
</p>

  <p>
تم نقل باسل من سجن عدرا الى جهة مجهولة بعد ان اتت دورية لا يعرف بالضبط الى اي جهة تتبع وطلب منه اخذ كل اغراضه
</p>
  <p>
من المتوقع ان يكون نقل الى مقر المحكمة الميدانية في الشرطة العسكرية في منطقة القابون
</p>
  <p>
قلق ومخاوف على مصير باسل بعد ان اصبح وضعه مجهولا من جديد
</p>
  </div>
  </div>
  <div class="medium-6 small-12 columns">
    <h5><span class="label alert">Breaking News</span> <small>{{ '2015-10-03' | date: "%h %Y" }}</h5>

    <p>Bassel Khartabil needs us more than ever.</p>

    <p>Bassel was summoned to pack his stuff from Adra Prison and was lead to an unknown location . There is speculation that he might have been transferred to the civil court of the military police area in Qaboun.</p>

  <p>There are fears for Bassel's fate since his situation is unknown at present!</p>

  </div>
  </div>
</div>
