<div class="alert-box alert">
  <div class="row">
  <div class="medium-6 small-12 columns">
  <div dir="rtl">
  <h5><span class="label alert">خبر عاجل</span> <small>{{ '2015-10-10 20:00:00' | date: "%m/%Y" }}</small></h5>

  <p>
خبر طارئ ! خبر طارئ ! خبر طارئ ! خبر طارئ ! خبر طارئ ! خبر طارئ ! خبر طارئ ! خبر طارئ ! 
</p>

 <p>
  اجتني معلومات من كم ساعة انو باسل انحذف اسمو من قيود سجن عدرا وسلموا تختو لسجين تاني ، تفسير هالمعلومة انو باسل ما عاد الو وجود بسجن عدرا وما عاد يرجع على سجن عدرا ..... ما عندي اي معلومة وما عم نقدر نوصل لشي ، حتى ما حدا عم ياكدلنا ازا هو لسا موجود بالشرطة العسكرية ، ما عاد منعرف مكان باسل ولا ازا باسل بخير هلء ... القائمين عالسجن ما عم يعطونا ولا معلومة ، يا اما ما بيعرفوا فعلا ، يا اما مو متعاونين ابدا وما عم يقولولنا شي .... باسل هلء بالمجهول تماما ... وبخطر حقيقي لانو ولا جهة عم تعترف انو هو عندها.
  </p>
  </div>
  </div>
  <div class="medium-6 small-12 columns">
    <h5><span class="label alert">Breaking News</span> <small>{{ '2015-10-10 20:00:00' | date: "%h %Y" }}</h5>

    <p>Urgent! Update on the case of Bassel Khartabil as of 10 October 2015 at 20:00 Damascus time.</p>

<p>
 We received news today that Bassel Khartabil's name has been deleted from the Adra Prison's register and his bed has been given to another prisoner.
 The only explanation for this is that Bassel is not going back to Adra Prison.
 We have received no information about his current status or whereabouts.
 No one has been able to confirm if Bassel is still at the Military Police HQ,
 and the prison officials have not given us any information.
 We are not sure if they are hiding something or if they genuinely don't know.
 BASSEL IS MISSING AND IN REAL DANGER BECAUSE NO ONE IS ADMITTING THEY HAVE HIM.
 </p>

  </div>
  </div>
</div>
