		<footer id="footer">

			<div class="row">
			<div class="medium-8 small-12 columns">
					<h5>About</h5>
					{% include about.html %}

					<h5>Press Release</h5>
					{% include press.html %}

					<h5>Contact</h5>
					<p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
      </div>
			<div class="medium-4 small-12 columns">

					<h5>Follow</h5>
					<p><a class="twitter-follow-button" href="https://twitter.com/freebassel">Follow @freebassel</a></p>
					<p><div class="fb-like" data-href="https://facebook.com/freebassel" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div></p>
					<p><a href="https://instagram.com/{{ site.instagram }}">@{{ site.instagram }} on Instagram</a></p>
					<p><a href="https://www.flickr.com/search/?q=freebassel&ss=2&s=int">#Freebassel on Flickr</a></p>
					<p><a href="{{site.baseurl}}/feed.xml">Read our Feed</a></p>
					<p><a href="https://github.com/freebassel/freebassel.org">Find us on Github</a></p>
					<p><a href="{{site.baseurl}}/volunteers">How to Help</a></p>
				</div>
			</div>

		</footer>
