<div class="alert-box success">
  <div class="row">
    <div class="medium-6 small-12 columns">
      <img src="assets/documents/missing_bassel/MISSINGBASSEL.png" alt="#MISSINGBASSEL" />
    </div>
    <div class="medium-6 small-12 columns">
      <p><span class="label success">Please Help</span></p>
      <p>Bassel is Missing! Please help us spread the word. Use, print, share, remix this graphic online or offline with the hashtag <a href="https://twitter.com/hashtag/missingbassel?src=hash">#MISSINGBASSEL</a>.</p>
      <p>
        <a href="/assets/documents/missing_bassel/MISSINGBASSEL.pdf" class="button success">Download PDF</a>
      </p>
    </div>
  </div>
</div>
