<div class="panel">
  <ul class="small-block-grid-1">
    <li>
    <a class="th" title="CC-by Joi Ito" href="https://www.flickr.com/photos/joi/4670781482/">
      <img src="https://c1.staticflickr.com/5/4018/4670781482_d072301ef0.jpg">
    </a>
    </li>
  </ul>
  <ul class="small-block-grid-3">
    <li>
    <a class="th" title="by Jenny Hui" href="https://www.flickr.com/photos/14501922@N02/8665291664/">
      <img src="https://c1.staticflickr.com/9/8250/8665291664_e00f706745_q.jpg">
    </a>
    </li><li>
    <a class="th" title="CC-by slaporte" href="https://www.flickr.com/photos/slaporte/15195177687/">
      <img src="https://c1.staticflickr.com/3/2941/15195177687_11f2a11800_q.jpg">
    </a>
    </li><li>
    <a class="th" title="CC-by-sa Kennisland" href="https://www.flickr.com/photos/kl/8559700000/">
      <img src="https://c1.staticflickr.com/9/8248/8559700000_a7ce734718_q.jpg">
    </a>
    </li>
  </ul>
</div>
