<div class="alert-box alert">
<h5>Campaign Launched to Bring Home Loved and Celebrated Internet Volunteer Detained in Syria since 03/15/2012</h5><br>

<h6><em>UPDATE: It is alleged that Bassel will stand to be sentenced by a military court in Damascus, Syria. Activists fear that the sentence may be harsh. Bassel needs your support now more than ever.</em></h6><br>

1. Read the <a href="/statements">Statements</a>, <a href="/#stories">Stories</a> and <a href="/press">News</a>. Watch <a href="http://www.youtube.com/watch?v=MLDGgcflE18&feature=youtu.be">recent</a> <a href="https://www.youtube.com/watch?v=v5LcBavMek4&feature=share">reports</a> and <a href="https://vimeo.com/55799381">pleas</a> <a href="http://www.youtube.com/watch?v=ddhN_uaxQoo&feature=youtu.be&t=18m8s">from</a> <a href="http://www.youtube.com/watch?v=eJzH4m1wPoU">friends</a>. Sign the <a href="/#signtheletter">Letter</a>.<br>
2. Write to <a href="http://www.amnesty.org/en/library/asset/MDE24/091/2012/en/7e21be41-1afc-4739-8363-714311388918/mde240912012en.html">Syrian authorities and your local diplomats</a>, then share with <a href="https://twitter.com/freebassel">@freebassel</a> and <a href="mailto:info@freebassel.org">info@freebassel.org</a>.<br>
3. Host an <a href="/#events">Event</a> and spread the message with the <a href="http://openclipart.org/image/2000px/svg_to_png/173131/Bassel_Face_Avatar_B_W_Text.png">#FREEBASSEL graphic</a> in your hometown.


