<div class="alert-box info" data-equalizer-watch>

        {% include twitter.html %}

  <hr/>

<p>For more background information read the <a href="{{site.baseurl}}/campaign/press">News</a> and <a href="{{site.baseurl}}/campaign/events">Events</a>, <a href="{{site.baseurl}}/campaign/statements">Statements</a> and <a href="{{site.baseurl}}/campaign/stories">Stories</a>, and watch recent <a href="http://www.youtube.com/watch?v=MLDGgcflE18&feature=youtu.be">media</a> <a href="https://www.youtube.com/watch?v=v5LcBavMek4&feature=share">reports</a> and <a href="https://vimeo.com/55799381">pleas</a> <a href="http://www.youtube.com/watch?v=ddhN_uaxQoo&feature=youtu.be&t=18m8s">from</a> <a href="http://www.youtube.com/watch?v=eJzH4m1wPoU">friends</a>, and <a href="http://en.wikiquote.org/wiki/Bassel_Khartabil">read some quotes</a> from Bassel.
Read <a href="{{site.baseurl}}/cv">Bassel's CV</a>.
</p>

Help by signing the <a href="{{site.baseurl}}/campaign/letter">Support Letter</a>, writing and faxing <a href="{{site.baseurl}}/campaign/press/2012/12/18/amnesty-international/index.html">Syrian authorities and local diplomats</a>, hosting an <a href="{{site.baseurl}}/campaign/events">Event</a>, spreading the word via social media  (<a href="https://twitter.com/{{ site.twitter }}">twitter</a>, <a href="https://www.facebook.com/{{ site.facebook }}">facebook</a>, <a href="https://instagram.com/{{ site.instagram }}">instagram</a>), and using the <a href="http://openclipart.org/search/?query=freebassel">#FREEBASSEL graphic</a> to make T-shirts and posters.</p>

<p>Thanks for your support.</p>

</div>
