<div class="testimonial-wrap">
{% for testimonial in site.data.testimonials %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}

  {% if thecycle == 'odd' %}
    <div class="row" data-equalizer>
  {% endif %}

      {% if thecycle == 'odd' and forloop.last %}
        {% assign medium_cols = 'medium-12' %}
      {% else %}
        {% assign medium_cols = 'medium-6' %}
      {% endif %}

      <div class="{{ medium_cols }} small-12 columns testimonial">
        <div id="{{ testimonial.name | slugify }}" class="quote" data-equalizer-watch>
          <p>{{ testimonial.quote }}</p>
        </div>
      <div class="expert">
          <div class="photo" style="background-image: url('{{ testimonial.image }}'); background-size: cover;"> </div>
          {% if testimonial.credit %} <!-- Image {{testimonial.credit }} --> {% endif %}
          <p>{{ testimonial.name }}</p>
          <p>{{ testimonial.affiliation }}</p>
        </div>
      </div> <!--end column -->

  {% if thecycle == 'even' or forloop.last %}
    </div> <!-- end row -->
  {% endif %}

{% endfor %}
</div>
