<div class="testimonial-wrap">
  <div class="row" data-equalizer>
    <div class="medium-6 small-12 columns testimonial">
      <div class="quote" data-equalizer-watch>
        <p>In the middle east, the fight for freedom is generic: To stand for the right to create and share freely is to risk the most extreme response. Bassel is now suffering that most extreme response. There are a thousand ways you can help the people of Syria. Here is one more... stand with this one free soul.</p>
  </div>
  <div class="expert">
        <div class="photo" style="background-image: url('/assets/images/photos/2115184003_3b841dee81_s.jpg');"> </div>
        <p>Lawrence Lessig</p>
        <p>Professor, Harvard Law School</p>
      </div>
    </div>
    <div class="medium-6 small-12 columns testimonial">
      <div class="quote" data-equalizer-watch>
        <p>Bassel has devoted his career to the rich culture of Syria and to protecting that culture. His contributions to the open Internet and open culture internationally, and his research and creativity, have benefitted all of us. Without people like Bassel, the Internet wouldn't be the vibrant and open resource that many of us take for granted.</p>
      </div>
      <div class="expert">
        <div class="photo" style="background-image: url('/assets/images/photos/477849343_3268e601f0_s.jpg');"> </div>
        <p>Joi Ito</p>
        <p>Director, MIT Media Lab</p>
      </div>
    </div>
  </div>
  <div class="row" data-equalizer>
    <div class="medium-6 small-12 columns testimonial">
      <div class="quote" data-equalizer-watch>
        <p>Mozilla supports efforts to obtain the release of Bassel Khartabil.</p>
  </div>
  <div class="expert">
        <div class="photo" style="background-image: url('/assets/images/photos/4108430128_6c4420c4bc_s.jpg');"> </div>
        <p>Mitchell Baker</p>
        <p>Executive Chair, Mozilla Corporation</p>
      </div>
    </div>
    <div class="medium-6 small-12 columns testimonial">
      <div class="quote" data-equalizer-watch>
        <p>Bassel Khartabil is a Syrian Wikipedian and a passionate advocate for free knowledge.</p>
      </div>
      <div class="expert">
        <div class="photo" style="background-image: url('/assets/images/photos/103px-Wikipedia-logo-v2.svg.png');"> </div>
        <p>Wikipedia</p>
      </div>
    </div>
  </div>
</div>
