<a class="twitter-timeline" height="200" data-chrome="nofooter transparent noborders" href="https://twitter.com/search?q=%23freebassel%20%23whereisbassel" data-widget-id="314878074019774464">Tweets about #freebassel #whereisbassel</a>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<br /><br />
<p><a href="https://twitter.com/intent/tweet?button_hashtag=freebassel&text=I%20demand%20information%20from%20the%20Syrian%20Government%20about%20Bassel%20Khartabil%27s%20status.%20%40freebassel" class="twitter-hashtag-button" data-size="large" data-related="freebassel" data-url="http://freebassel.org">Tweet #freebassel</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
