<div class="alert-box success">
  <div class="row">
    <div class="medium-3 small-12 columns">
      <img src="assets/documents/whereisbassel/freebassel-infosheet-2016-color-outlines.png" alt="#WhereIsBassel" />
    </div>
    <div class="medium-9 small-12 columns">
	<h5><span class="label success">Please Help</span></h5>
	<p>
Use, print, share, remix these graphics online or offline with the
hashtag <a href="https://twitter.com/hashtag/whereisbassel?src=hash">#WhereIsBassel</a>.
	</p>
	<p>
        <a href="https://github.com/freebassel/2016-whereisbassel/archive/master.zip" class="button success">Download ZIP</a>
	</p>
	<p>
We need volunteers to help us out and organise March 2016 events:
	</p>
	<h5><small>{{ '2016-03-09' | date: "%d %h %Y" }}</small></h5>
	<p>
Deadline for #whereisbassel logo design competition visit us now and
submit your design: <a href="https://openclipart.org/freebassel2016">https://openclipart.org/freebassel2016</a>
	</p>
	<h5><small>{{ '2016-03-15' | date: "%d %h %Y" }}</small></h5>
	<p>
For March 15, 2016, the FREEBASSEL Campaign is joining forces with the 
Jimmy Wales Foundation to create a day of awareness under the tag 
#WhereIsBassel. Jimmy Wales is providing unbelievable support for 
Bassel, his plight for freedom and for the FREEBASSEL Campaign. 
	</p>
	<h5><small>{{ '2016-03-19' | date: "%d %h %Y" }}</small></h5>
	<p>
JOIN US 19th March FOR A GLOBAL PROTEST
EVENT <a href="https://www.facebook.com/hashtag/freebassel?source=feed_text&story_id=969116143168452">‪#‎freebassel‬</a>
along with
the <a href="https://www.facebook.com/JimmyWalesFoundation/">Jimmy
	    Wales Foundation</a> & the support of the amazing <a href="https://www.facebook.com/pages/Jimmy-Wales/105595929475293">Jimmy Wales</a>
	</p>
	<p>
Please join us on the streets in your city
<a href="https://www.facebook.com/events/1585961515027211/">https://www.facebook.com/events/1585961515027211/</a>
	</p>
	<p>
contact us at <a href="mailto:info@freebassel.org">info@freebassel.org</a> for any queries
	</p>
    </div>
  </div>
</div>
