<div class="alert-box success">
  <div class="row">
    <div class="medium-3 small-12 columns">
      <img src="assets/documents/whereisbassel/freebassel-infosheet-2016-color-outlines.png" alt="#WhereIsBassel" />
    </div>
    <div class="medium-9 small-12 columns">
	<h5><span class="label success">Please Help</span></h5>
	<p>
Use, print, share, remix these graphics online or offline with the
hashtag <a href="https://twitter.com/hashtag/whereisbassel?src=hash">#WhereIsBassel</a>.
	</p>
	<p>
        <a href="https://github.com/freebassel/2016-whereisbassel/archive/master.zip" class="button success">Download ZIP</a>
	</p>
	<p>
We need volunteers to help us out and organise March 2016 events:
	</p>
        {% for post in site.categories.whereisbassel reversed %}
	<h5><small>{{ post.date | date: "%d %h %Y" }}</small></h5>
        {{ post.content }}
        {% endfor %}
    </div>
  </div>
</div>
