---
layout: statements
title: "Joichi Ito's statement"
source: "Creative Commons"
link: https://creativecommons.org/weblog/entry/33119
categories: [ statements ]
---

<div class="row">


		<dl class="nice contained tabs">
			<dd><a href="#english" class="active">English</a></dd>
			<dd><a href="#arabic" dir="rtl">العربية</a></dd>
		</dl>

		<ul class="nice tabs-content contained">
			<li class="active" id="englishTab">
				  {% capture english_letter %}
					{% include support-joiito-english.md %}
				  {% endcapture %}
				  {{ english_letter | unindent | markdownify }}
			</li>

			<li id="arabicTab" dir="rtl">
				  {% capture arabic_letter %}
					{% include support-joiito-arabic.md %}
				  {% endcapture %}
				  {{ arabic_letter | unindent | markdownify }}
			</li>
		</ul>
	</div>

</div>

