---
layout: statements
title: "Lawrence Lessig's statement"
source: "Mozilla Foundation"
link: http://lessig.tumblr.com/post/26484646550/on-the-fight-for-liberty-july-4-2012
categories: [ statements ]
---

<div class="row">

    <ul class="tabs" data-tab>
			<li class="tab-title active"><a href="#english" class="active">English</a></li>
			<li class="tab-title"><a href="#chinese">中文</a></li>
		</ul>

  <div class="tabs-content">
    <div class="content active" id="english">
{% capture english_letter %}
{% include support-lessig-english.md %}
{% endcapture %}
{{ english_letter | unindent | markdownify }}
    </div>

	<div class="content" id="chinese">
{% capture chinese_letter %}
{% include support-lessig-chinese.md %}
{% endcapture %}
{{ chinese_letter | unindent | markdownify }}
    </div>
  </div>

</div>
